.App {
}
.app_title {
  margin-left: 40px;
}
.spilt_button {
  float: right;
  margin-right: 40px;
}
.name_button {
  height: 50px;
  width: 100px;
  margin: 20px 10px;
}
.button_div {
  text-align: center;
}
.buttom_title {
  margin-left: 40px;
}
